@model SYM_CONNECT.ViewModel.LoginViewModel
@{
    Layout = "_LoginLayout"; //USES CUSTOM LOGIN LAYOUT CLEAN PAGE NO SIDEBAR
}

<div class="login-container">
    
    <!-- LOGIN FORM CARD / BOX -->
    <div class="login-form">

        <!-- PAGE TITLE -->
        <h2 class="login-title">Login</h2>

        <!-- THIS WILL POST DATA TO AccountController  IN ACCOUNT CONTROLLER TO Login METHOD -->
        <form asp-action="Login" method="post" asp-controller="Account">

            @Html.AntiForgeryToken() <!-- SECURITY TOKEN   -->

            <!-- EMAIL FIELD SECTION -->
            <div class="form-group">
                <label>Email</label>

                <div class="input-wrapper">
                    <i class="bi bi-envelope"></i>

                    <input asp-for="Email"
                           name="Email"
                           type="email"
                           class="form-input"
                           placeholder="Enter your email" />

                </div>

                <!-- VALIDATION MESSAGE FOR EMAIL -->
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            <!-- PASSWORD FIELD SECTION -->
            <div class="form-group">
                <label>Password</label>

                <!-- INPUT WRAPPER FOR ICON + INPUT -->
                <div class="input-wrapper">
                    <i class="bi bi-lock"></i> <!-- LOCK ICON -->

                    <!-- PASSWORD INPUT FIELD -->
                    <!-- BOUND TO LoginViewModel.Password -->
                    <input asp-for="Password"
                           name="Password"
                           type="password"
                           class="form-input"
                           placeholder="Enter your password" />

                </div>

                <!-- VALIDATION MESSAGE FOR PASSWORD -->
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            <div class="login-options">

                <!-- REMEMBER ME CHECKBOX -->
                <label class="remember">
                    <input type="checkbox" /> 
                    Remember me
                </label>

                <!-- FORGOT PASSWORD LINK (NOT IMPLEMENTED YET) -->
                <a href="#" class="forgot">Forgot Password</a>

            </div>


            <!-- SUBMIT BUTTON -->
            <button type="submit" class="login-btn">
                Sign In <!-- TRIGGERS FORM SUBMIT -->
            </button>


         
        </form>

    </div>

</div>