@{
    Layout = "_RegisterLayout";
}

<div class="login-container">

    <div class="login-form">

        <h2 class="login-title">Register</h2>

        <form asp-action="Register" method="post">

            <!-- First / Last Name -->
            <div class="name-row">

                <div class="form-group">
                    <label>First name</label>
                    <input class="form-input" placeholder="Enter first name">
                </div>

                <div class="form-group">
                    <label>Last name</label>
                    <input class="form-input" placeholder="Enter last name">
                </div>

            </div>


            <!-- Email -->
            <div class="form-group">
                <label>Email</label>

                <div class="input-wrapper">
                    <input type="email"
                           class="form-input"
                           placeholder="Enter your email">

                    <i class="bi bi-envelope"></i>
                </div>
            </div>


            <!-- Role -->
            <div class="form-group">
                <label>Role</label>

                <div class="input-wrapper">
                    <select class="form-input">
                        <option>Select Role</option>
                        <option>Admin</option>
                        <option>Leader</option>
                        <option>Member</option>
                    </select>

                    <i class="bi bi-chevron-down"></i>
                </div>
            </div>

            <!-- Password -->
            <div class="form-group">
                <label>Password</label>
                <div class="input-wrapper">
                    <input type="password"
                           class="form-input"
                           placeholder="Enter password">
                    <i class="bi bi-eye-slash"></i>
                </div>
            </div>


            <!-- Confirm Password -->
            <div class="form-group">
                <label>Confirm Password</label>

                <div class="input-wrapper">
                    <input type="password"
                           class="form-input"
                           placeholder="Confirm password">

                    <i class="bi bi-eye-slash"></i>
                </div>
            </div>


            <!-- Terms -->
            <div class="terms">

                <input type="checkbox">

                <label>
                    I agree to the
                    <a href="#">Terms & Conditions</a>
                </label>

            </div>


            <!-- Button -->
            <button type="submit" class="login-btn">
                Sign In
            </button>


            <!-- Login Link -->
            <p class="signup-text">

                Already have an account?

                <a asp-controller="Account" asp-action="Login">
                    Sign In.
                </a>

            </p>

        </form>

    </div>

</div>